@import url("https://foots.googleapis.com/css2?family=Poppins:wght@300;400;500;600display=swap");

*{
    margin: 0;
    padding:0;
    border:0;
    outline:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --color-bg: hwb(171 73% 11% / 0.898);
    --color-bg-variant: rgba(76, 130, 122, 0.898);
    --color-primary: hsla(155, 60%, 21%, 0.992);
    --color-primary-variant: #ff9595fd;
    --color-white: hwb(160 67% 9% / 0.992);
    --color-light: #598176;

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%
    --container-width-sm: 90%
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

body{
    font-family: "Proppins", sans-serif;
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.8;
    background-image: url(../src/assets/bg.jpg) ;
}


/*  General styles */
.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

h1{
    font-size: 2.5rem;
}

section{
    margin-top: 8rem;
    height:100vh;
}

section >h2,section >h5 {
    text-align: center;
    color: var(--color-light);
}

section >h2 {
    color: var(--color-primary);
    margin-bottom: 3rem;
}

.text-light{
    color: var(--color-light)}

a{
    color: var(--color-primary);
    transition : var(--transition);
}

a:hover{
    color: var(--color-white);
}

.btn{
    width:max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid(--color-primary);
    transition: var(--transition);
}

.btn:hover{
    background:var(--color-white);
    color:var(--color-bg);
    border-color: transparent;
}

.btn-primary{
    background:var(--color-primary);
    color:var(--color-bg);
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

/* media queries(medium devices) */
@media screen and (max-width: 1024px){
    .container{
        width:var(--container-width-md);
    }
    section{
        margin-top:6rem;
    }
}

/* media queries(small devices) */
@media screen and (max-width: 600px){
    .container{
        width:var(--container-width-sm);
    }
    section{
        margin-top: 2rem;
    }
}
